*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $ff--main;
  font-size: $fs--main;
  color: $clr--red-900;
}

.container {
  background-color: $linear--bg-end;
  min-height: 100vh;
}
